NET "RESET" LOC = "U9"			| IOSTANDARD = "LVCMOS33";
NET "CLK" LOC = "E3"			| IOSTANDARD = "LVCMOS33";
NET "ENABLE" LOC = "U8"		| IOSTANDARD = "LVCMOS33";
NET "D_IN" LOC = "H5"			| IOSTANDARD = "LVCMOS33";
NET "BCLK" LOC = "J5"			| IOSTANDARD = "LVCMOS33";
NET "WS" LOC = "F5"			| IOSTANDARD = "LVCMOS33";
NET "D_OUT<0>" LOC = "C17"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<1>" LOC = "D18"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<2>" LOC = "E18"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<3>" LOC = "G17"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<4>" LOC = "D17"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<5>" LOC = "E17"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<6>" LOC = "F18"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<7>" LOC = "G18"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<8>" LOC = "D14"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<9>" LOC = "F16"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<10>" LOC = "G16"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<11>" LOC = "H14"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<12>" LOC = "E16"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<13>" LOC = "F13"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<14>" LOC = "G13"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<15>" LOC = "H16"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<16>" LOC = "K1"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<17>" LOC = "F6"		| IOSTANDARD = "LVCMOS33";
NET "DONE" LOC = "V11"			| IOSTANDARD = "LVCMOS33";
NET "D_AMP" LOC = "A11"			| IOSTANDARD = "LVCMOS33";
