NET "clk"LOC = "E3"	| IOSTANDARD = "LVCMOS33";	#Bank = 35, Pin name = IO_L12P_T1_MRCC_35,	Sch name = CLK100MHZ
NET "reset"	LOC = "V10"		| IOSTANDARD = "LVCMOS33";
NET "rec" LOC = "T16"		| IOSTANDARD = "LVCMOS33";
NET "play" LOC = "R10"		| IOSTANDARD = "LVCMOS33";
NET "bclk" LOC = "J5"		| IOSTANDARD = "LVCMOS33";
NET "lrsel" LOC = "F5"		| IOSTANDARD = "LVCMOS33";
NET "data_in" LOC = "H5"	| IOSTANDARD = "LVCMOS33";
NET "data_out" LOC = "A11"	| IOSTANDARD = "LVCMOS33";
NET "ampSD" LOC = "D12"		| IOSTANDARD = "LVCMOS33";
NET "wr" LOC = "P2"			| IOSTANDARD = "LVCMOS33";
NET "rd" LOC = "T8"			| IOSTANDARD = "LVCMOS33";
NET "emptyLED" LOC = "T4"	| IOSTANDARD = "LVCMOS33";
NET "fullLED" LOC = "V1"	| IOSTANDARD = "LVCMOS33";
