# UCF file for the Papilio DUO board

## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET iClock         LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET iReset        LOC="P116" | IOSTANDARD=LVTTL;                                 # A0
NET oLCD_D(0)  LOC="P100" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 0
NET oLCD_D(1)  LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 1
NET oLCD_D(2)  LOC="P102" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 2
NET oLCD_D(3)  LOC="P103" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 3
NET oLCD_D(4)  LOC="P104" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 4
NET oLCD_D(5)  LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 5
NET oLCD_D(6)  LOC="P106" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 6
NET oLCD_D(7)  LOC="P107" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 7
NET oLCD_D(8)  LOC="P108" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 8
NET oLCD_D(9)  LOC="P109" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 9
NET oLCD_D(10)  LOC="P110" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 10
NET oLCD_D(11)  LOC="P111" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 11
NET oLCD_D(12)  LOC="P112" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 12
NET oLCD_D(13)  LOC="P113" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 13
NET oLCD_D(14)  LOC="P114" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DATA 14
NET oLCD_RD(15)  LOC="P115" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD RD
NET oLCD_WR(16)  LOC="P116" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD W/R
NET oLCD_DC(17)  LOC="P117" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD DC
NET oLCD_CS(18)  LOC="P118" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; #LCD CS
