NET "anout" LOC = "A11"		| IOSTANDARD = "LVCMOS33";
NET "ampSD" LOC = "D12"		| IOSTANDARD = "LVCMOS33";
NET "sclk" LOC = "J5"		| IOSTANDARD = "LVCMOS33";
NET "ncs" LOC = "F5"		| IOSTANDARD = "LVCMOS33";
NET "sdata" LOC = "H5"		| IOSTANDARD = "LVCMOS33";
NET "clk" LOC = "E3"		| IOSTANDARD = "LVCMOS33";
